.info-bagraound {
    background-color: #FCEAE8;
}

.categories img {
    width: 100px;
}

.panda-btn-buy-now {
    color: #FCEAE8;
    background-color: #FF3C89;
    border-radius: 6px;
    padding: 9px 25px;
    border: none;
}


.suscribe-css {
    background-color: #FCEAE8;
}
}